html {
    box-sizing: border-box;
    background: url(../img/brick.png);
}
*,
*:before,
*:after {
    box-sizing:inherit;
}

.site-container {
    max-width: 1200px;
}

body {
    margin: 0 auto;
}

/* header */

header {
    background: #050e2b;
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;
}

h2 {
    padding-top: 40px;
    padding-left: 15px;
}

#header-wrapper {
    margin: 0 auto;
}

#logo img {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-top: -70px;
}

#container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fdf7eb;
    margin-top: -60px;
}

#container::after {
    content: '';
    clear: both;
    display: block;
}

/*content*/

.content {
    margin: 0 auto;
    text-align: justify;
}

@media all and (min-width: 950px){
    .content{
        float: left;
        width: 50%;
        padding-right: 30px;
    }

    .icons {
        float: left;
        width: 90%
    }

    .colors {
        padding-top: 50px;
    }

    .secondary {
        text-align: center;
    }

    #textures {
        float: left;
    }
}

/*icons*/

.icons {
    width: 100%
}

.icons li {
    display: inline-block;;
    text-align: center;
    width: 96px;
    opacity: 0.9;
}

.icons li :hover {
    display: inline-block;;
    text-align: center;
    opacity: 0.5;
}

ul {
    list-style-type: none;
    padding: 0;
}

li{
    display: inline-block;
    text-align: center;
    list-style-type: none;
    width: 80px;
    height: 4em;
}

/* colors */

.colors {
    width: 100%;
    padding-bottom: 6% ;
}

.colors li {
    width: 32%;
    list-style-type: none;
    background-color: black;
    border-radius: 10px;
}

.primary :hover {
    border-radius: 90px;
}

.colors .dark_navy {
    background-color: #050e2b;
}

.colors .grey {
    background-color: #776d64;
}

.colors .mustard {
    background-color: #946b2d;
}

.secondary {
    text-align: center;
}

.secondary :hover {
    border-radius: 90px;
}

.colors .navy {
    background-color: #222f5b;
}

.colors .tan {
    background-color: #e1bc87;
}

@media all and (min-width: 950px){
    .colors{
        float: left;
        width: 50%;
    }
}

/* visuals */

#pictures img {
    width: 100%;
}

#textures {
    margin: 0 auto;
    text-align: center;
}

#textures img {
    border-radius: 50px;
    padding-left: 10px;
}

#secondary_logo {
    width: 100%;
}


@media all and (min-width: 650px){

    #secondary_logo {
        width: 60%;
        float: left;
}

@media all and (min-width: 950px){
    #pictures{
        float: right;
        width: calc(100% / 3.5 *2);
    }

    #textures {
        float: left;
        width: calc (100%/3);
        width: 30%;
    }

    #secondary_logo {
        width: 30%;
        float: left;
}


}
@media all and (min-width: 950px){
    #colors{
        float: left;
        width: calc(100%/3);
}
