html {
    box-sizing: border-box;
    background: url(../img/Brick_texture.png);
}

*,
*:before,
*:after {
    box-sizing:inherit;
}

#container {
    max-width: 1000px;
}

body {
    margin: 0 auto;
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;
}

h2 {
    padding-top: 40px;
    padding-left: 15px;
    font-family: 'Almendra SC', serif;
    font-size: 3em;
    color: #050e2b;
    text-decoration: none;
    max-width: 500px;
    height: 55px;
}

h3 {
    font-family: 'Meddon', cursive;
    font-size: 1.2em;
    color: #946b2d;
}

h4 {
    padding: 0;
    margin: 0;
    text-align: center;
}

p {
    font-family: garamond;
    font-size: 1em;
    text-align: justify;
    margin-top: -20px;
    color: #222f5b;
}

p a {
    font-family: garamond;
    color: #946b2d;
    text-decoration: none;
}

p a:hover {
    color: #946b2d;
    text-decoration: underline;
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li{
    display: inline-block;
    text-align: center;
    list-style-type: none;
    width: 80px;
    height: 4em;
}

/* header */

header {
    background: #050e2b;
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

#header-wrapper {
    margin: 0 auto;
}

/* logo */

#logo img {
    max-width: 300px;
    width: 100%;
    height: auto;
    margin-top: -90px;
    box-shadow: 7px 11px 11px #776d64;
}

/* container */

#container {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    background-color: #fdf7eb;
    margin-top: -60px;
}

#container::after {
    content: '';
    clear: both;
    display: block;
}

/*content*/

.content {
    margin: 0 auto;
}

@media all and (min-width: 1090px){

    .content {
        float: left;
        width: 50%;
        padding-right: 30px;
    }

    .icons {
        float: left;
        width: 90%
    }
}

@media all and (max-width: 600px){
    h2 {
        font-size: 2em;
    }
}

/*contact info */

.contact-info h2 {
    font-size: 1.2em;
    padding-left: 10px;
    margin-top: -50px;
    text-align: center;
    display: inline-block;
}

/*icons*/

.icons {
    width: 100%
}

.icons li {
    display: inline-block;;
    text-align: center;
    width: 75px;
    opacity: 0.9;
}

.icons li :hover {
    display: inline-block;;
    text-align: center;
    opacity: 0.5;
}

/* social media icons */

.social-media {
    text-align: center;
    padding-bottom: 20px;
    opacity: 0.8;
}

.social-media img {
    width: 50px;
}

.social-media :hover {
    border-radius: 90px;
}

@media all and (min-width: 1000px){
    .social-media{
        float: right;
        margin-top: -20px;
        padding: 0;
    }
}

@media all and (min-width: 600px){
    .social-media{
        padding-top: 50px;
    }
}

@media all and (min-width: 400px){
    .social-media{
        padding-top: 50px;
    }
}

/* events */

#events {
    padding: 8px;
    max-width:400px;
    max-height: 400px;
    text-align: center;
    overflow: scroll;
    border-radius: 50px;
    background: url(../img/fabric.png);
}

#events p {
    color: #fdf7eb;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
}

#events h2 {
    padding-top: 0px;
    color: #946b2d;
    font-size: 1.8em;
}

#events h4 {
    font-family: garamond;
    text-decoration: underline;
    color: #fdf7eb;
    text-align: left;
    padding: 5px;
}

#events :hover {
    opacity: 0.8;
}

@media all and (min-width: 1090px) {
    #events {
        float: left;
        width: calc (100% / 3);
    }
}

/* pictures */

#pictures img {
    width: 100%;
    padding: 10px;
    border-radius: 20px;
}

#pictures img:hover {
    box-shadow: 0 0 20px;
}

#interior {
    max-width: 325px;
    margin: 0 auto;
}

@media all and (min-width: 1090px) {
    #interior{
        float: left;
        width: calc (100% / 3.5);
    }
}

/* textures */

#textures {
    margin: 0 auto;
    text-align: center;
}

#textures img:hover {
    opacity: 0.5;
}

#textures img {
    border-radius: 50px;
    padding: 10px;
}

/* secondary logo */

#secondary_logo {
    width: 100%;
    max-width: 250px;
    padding: 10px;
    margin: 0 auto;
}

#secondary_logo:hover {
    opacity: 0.5;
}

@media all and (min-width: 650px) {
    #secondary_logo {
        width: 60%;
    }
}

@media all and (min-width: 1090px) {
    #secondary_logo {
        width: 30%;
        float: left;
    }
}

/* Food Menu */

.menu li {
    display: list-item;
    width: 100%;
    padding: 0px;
    font-family: garamond;
}

.menu ul {
    padding: 10px;
    border-style: solid;
    border-color: #222f5b;
    border-width: .2em;
    max-width: 300px;
}

.menu h2 {
    padding: 0px;
    text-align: center;
    font-size: 1.8em;
    text-decoration: underline;
}

.menu h3 {
    text-align: center;
    font-size: 2.2em;
}

@media all and (min-width: 1090px) {
    #food {
        width: calc(100% / 3.5 * 2);
        float: left;
    }
}

/* Beer List */

.beer {
    background: #e1be87;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    width: 300px;
    border-radius: 20px;
}

.beer li{
    font-family: 'Almendra SC', serif;
    display: inherit;
    width: 400px;
    text-align: left;
    height: 2em;
}

.beer p {
    padding-left: 115px;
    font-style: italic;
}

.beer :hover {
    opacity: 0.5;
}

#profile {
    margin: 0 auto;
    text-align: center;
}

#profile img {
    border-radius: 50px;
    padding: 10px;
    width: 200px;
}

#profile img:hover {
    opacity: 0.5;
}

@media all and (min-width: 1090px) {
    #beer2 {
        width: calc(100% / 3.5 * 1.9);
        float: right;
        margin-top: -350px;
    }
}
